# Ignore machine-specific config
/config/*
!/config/.gitkeep

# Ignore environment variables
.env
.env.local

# Obsidian workspace files
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
